.container {
	display: flex;
	width: 100%;
	height: 100%;

	&__content {
		padding: 200px;
		flex: 5;
	}

	&__image {
		background-image: url('../images/hero-desktop.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		flex: 3;
	}
}
