:root {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: var(--red-desaturated);

	display: flex;
	justify-content: center;
}
